/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-collapse {
  background-color: #fff;
}

.navbar-header {
  background-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #10ad98;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

img.brand {
  height: 90px;
  padding: 5px 5px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 91px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #003061;
    border-right: 0px solid #003061;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}

.nav-sidebar > li > a:hover  {
  color: #003061;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #003061;
  background-color: #fff;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.ct-chart .ct-label {
    font-size: 0.85em;
}

/*
 * Paineis
 */
.huge-xgg {
    font-size: 50px;
    line-height: normal;
}

.huge-xg {
    font-size: 40px;
    line-height: normal;
}

.huge-gg {
    font-size: 35px;
    line-height: normal;
}

.panel-marinho {
  border-color: #003061;
}
.panel-marinho > .panel-heading {
  color: #fff;
  background-color: #003061;
  border-color: #003061;
}
.panel-marinho > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #003061;
}
.panel-marinho > .panel-heading .badge {
  color: #003061;
  background-color: #fff;
}
.panel-marinho > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #003061;
}


.panel-verde {
  border-color: #10ad98;
}
.panel-verde > .panel-heading {
  color: #fff;
  background-color: #10ad98;
  border-color: #10ad98;
}
.panel-verde > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #10ad98;
}
.panel-verde > .panel-heading .badge {
  color: #10ad98;
  background-color: #fff;
}
.panel-verde > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #10ad98;
}

.panel-azul {
  border-color: #1d92e0;
}
.panel-azul > .panel-heading {
  color: #fff;
  background-color: #1d92e0;
  border-color: #1d92e0;
}
.panel-azul > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1d92e0;
}
.panel-azul > .panel-heading .badge {
  color: #1d92e0;
  background-color: #fff;
}
.panel-azul > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1d92e0;
}

.copyright {
  font-size: 10px;
  font-style:
  height: 25px;
  color: #D9D9D9;
}

img.copyright {
  height: 30px;
}

.footer {
    z-index: 1;
    display: block;
    font-size: 26px;
    font-weight: 200;
    text-shadow: 0 1px 0 #fff;
}
svg {
    overflow: hidden;
}
rect {
    pointer-events: all;
    cursor: pointer;
    stroke: #EEEEEE;
}
.chart {
    display: block;
    margin: auto;
}
.parent .label {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.labelbody {
    background: transparent;
}
.label {
    margin: 2px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.child .label {
    white-space: pre-wrap;
    text-align: center;
    text-overflow: ellipsis;
}
.cell {
    font-size: 11px;
    cursor: pointer
}

.legend rect {
  fill:white;
  stroke:black;
  stroke-width: 2;
  opacity:0.8;}
