/**
* Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
* Ver arquivo LICENSE para os detalhes.
**/

.appstorebadge {
  max-height: 70px;
}

.appstorebadgetiny {
  max-height: 40px;
}

.screenshot {
  max-height: 300px;
}

@media (min-width: 1200px) {
  .modal-slg {
    width: 1100px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .modal-slg {
    width: 700px;
  }
}
@media (min-width: 650px) and (max-width: 799px) {
  .modal-slg {
    width: 600px;
  }
}
@media (min-width: 361px) and (max-width: 649px) {
  .modal-slg {
    width: 340px;
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .modal-slg {
    width: 310px;
  }
}
