<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bsdist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'bsdist/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Font awesome -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/hereditas.css' %}" rel="stylesheet">
