{% load staticfiles %}
<!-- Hereditas JS -->
<script type="text/javascript">
/* Ativação do sidebar */
var path = window.location.pathname;
$('.active').removeClass('active');
$('a[href="' + path + '"]').parent().addClass("active");
</script>
{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
