<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSite.html" %}
{% load staticfiles %}

{% block headJS %}
    <!-- Datatbles style -->
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/Buttons-1.2.4/css/buttons.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/Responsive-2.1.0/css/responsive.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/Scroller-1.4.2/css/scroller.dataTables.min.css' %}"/>
    <!-- Datatbles JS -->
    <script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/Buttons-1.2.4/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/Buttons-1.2.4/js/buttons.colVis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/Buttons-1.2.4/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/Responsive-2.1.0/js/dataTables.responsive.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/listas.js' %}"></script>

{% endblock %}

{% block page %}
          <h2 id="titulolista" class="sub-header">{{ listtitle }}</h2>
          <div id="ttt"></div>
          <div  id="dadoslista" class="table-responsive">
            <table class="table table-striped" id="hereditasListTable">
              <thead>
                <tr>
{% block listheader %}

{% endblock %}
                </tr>
              </thead>
              <tbody>
{% block listdata %}

{% endblock %}
              </tbody>
            </table>
          </div>
{% endblock %}

{% block endJS %}
<script type="text/javascript">
/* Definição das exportações das listas */
$('#hereditasListTable').DataTable( {
    "language":{
      "url": "{% static 'datatables/i18n/Portuguese-Brasil.json' %}"
    },
    "deferRender": true,
    "responsive": true,
    "dom": 'lfBrtip',
    "buttons": [
        'copyHtml5', 'excelHtml5', 'csvHtml5'
    ],
    "lengthMenu": [[25, 50, 100, 250, 500], [25, 50, 100, 250, 500]],
    {% block ajaxDatatable %}
    {% endblock %}
} );
</script>
{% endblock %}
