 <!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

 {% load staticfiles %}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'bsdist/assets/js/ie-emulation-modes-warning.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bsdist/assets/js/ie10-viewport-bug-workaround.js' %}"></script>