 <!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->
{% load staticfiles %}
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="vcenter"><img class="brand" src="{% static 'images/image00.png' %}" /></div>
          <div class="navbar-brand vcenter">Hereditas</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Indicadores</a></li>
            <li><a href="{% url 'bem' %}">Bens</a></li>
            <li><a href="{% url 'depreciacao' %}">Depreciações</a></li>
            <li><a href="{% url 'inventario' %}">Inventários</a></li>
            <li><a href="{% url 'movimentacoes' %}">Movimentações de Bens</a></li>
            <li><a href="{% url 'instalaAndroid' %}">Aplicativo Android™</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out">&nbsp;Sair</a></li>
            {% endif %}
          </ul>
          <!-- Search box
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          -->
        </div>
      </div>
    </nav>
