<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
{% include 'baseMeta.html' %}

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Hereditas</title>
    {% include 'baseCSS.html' %}
{% if not request.user.is_authenticated %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endif %}

{% include 'baseHeadJS.html' %}

{% block headJS %}

{% endblock %}

  </head>

  <body>
{% include 'mensagemModal.html' %}
{% if request.user.is_authenticated %}

{% include 'baseNavbar.html' %}

    <div class="container-fluid">
      <div class="row">
      {% include 'baseSidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

{% block page %}

{% endblock %}
<div class="copyright vcenter">Copyright &copy; 2015-2016 Ultima Ratio Regis Informatica LTDA</div>
        </div>

      </div>
    </div>
{% else %}
    {% include 'signin.html' %}
{% endif %}
  </body>

{% if request.user.is_authenticated %}
{% block endJS %}

{% endblock %}
{% endif %}

{% include 'baseEndJS.html' %}
{% include 'baseJS_IE.html' %}

</html>
