<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% load staticfiles %}
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery/jquery-2.2.3.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'bsdist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/mensagem.js' %}"></script>
    
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
