 <!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'index' %}">Indicadores</a></li>
            <li><a href="{% url 'bem' %}">Bens</a></li>
            <li><a href="{% url 'bem/agrupado' %}">Bens Agrupados</a></li>
            <li><a href="{% url 'depreciacao' %}">Depreciações</a></li>
            <li><a href="{% url 'inventario' %}">Inventários</a></li>
            <li><a href="{% url 'movimentacoes' %}">Movimentações de Bens</a></li>
            <li><a href="{% url 'instalaAndroid' %}">Aplicativo Android™</a></li>
          </ul>
        </div>
