{% load staticfiles %}
<div id="page" class="page">
    <div class="item content" id="content_section1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <img alt="" src="{% static 'images/image00.png' %}" style="width: 83.50px; height: 161.20px; margin-left: 0.00px; margin-top: 20.00px;" class="margin-bottom-20">
                        <h1>
                            Bem vindo ao Hereditas
                        </h1>
                        <p style="color: rgb(52, 73, 94); font-size: 16px; background-color: rgba(0, 0, 0, 0);">
                            Hereditas é um sistema de controle de patrimônio. Abaixo você vai encontrar as informações, procedimentos e as aplicações que realizam a coleta de dados de inventário e se comunicam com o servidor para as plataformas atendidas. O sistema tem 2 módulos na nuvem e 1 módulo local:
                        </p>
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-pie-chart" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        Portal de dados e relatórios. No portal se encontram relatórios e o aplicativo Android de inventário para download.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-database" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        Módulo de administração de dados. Neste módulo pode ser feita toda administração de dados com inclusões, alterações e exclusões de dados.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-wifi" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        Aplicativo de inventário. Aplicativo de realização de inventário com tecnologia de rádio frequência.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-users" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        A lista de usuários com acesso ao sistema foi enviada em documento anexo por email ao cliente com a contratação do serviço. Novas solicitações de acesso podem ser feitas clicando
                                        <a target="_blank" href="http://goo.gl/forms/GKg5fHggZt">aqui</a>.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- ./row -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.item -->
    <div class="item content padding-top-0 padding-bottom-0" id="content_section1">
        <div class="wrapper">
            <div class="container">
                <div class="row margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Instalaçao do aplicativo para Windows</h2>
                        <p class="lead">
                            Após o download do arquivo compactado, seguir os passos abaixo.
                        </p>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <a href="{% static 'apps/HereditasWin32.zip' %}">
                            <span class="fa fa-cloud-download" style="font-size: 24px;"></span>
                            </a>
                                <h3>Baixar os arquivos</h3>
                                <p>
                                    Clicar no ícone acima para baixar o sistema compactado.
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-folder-open-o" style="font-size: 24px;"></span>
                                <h3>Extrair arquivos compactados</h3>
                                <p>
                                    Na pasta de download, clicar com o botão direito sobre o arquivo compactado. Selecionar a opção de extrair e selecionar um local. Recomendamos extrair para a área de trabalho. Extrair todos os arquivos e pastas.
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-external-link" style="font-size: 24px;"></span>
                                <h3>Criar atalho</h3>
                                <p>
                                    Em seguida entrar na pasta Win32 do aplicativo descompactado e selecionar o arquivo <strong>hereditas</strong>. Clicar com o botão direito sobre o arquivo e enviar para o desktop criando um atalho.
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-cogs" style="font-size: 24px;"></span>
                                <h3>Configurar o aplicativo</h3>
                                <p>
                                    Para configurar o aplicativo, você deve editar o arquivo Hereditas/W32/Hereditas.exe.config com um editor simples como o notepad.
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-barcode" style="font-size: 24px;"></span>
                                <h3>Configurar o serial</h3>
                                <p>
                                    Com o arquivo de configuração aberto, informar o serial fornecido no campo "value" conforme exemplo. Ex: <code>&ltadd key="serial" value="SERIAL RECEBIDO"/&gt</code>
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-link" style="font-size: 24px;"></span>
                                <h3>Configurar os endereços da API</h3>
                                <p>
                                    Com o arquivo de configuração aberto, informar o endereço <code><spam id="siteuri"></spam></code> no campo "value" das configurações apiURI e licencaURI, conforme o exemplo. Ex: <code>&ltadd key="apiURI" value="ENDEREÇO"/&gt &ltadd key="licencaURI" value="ENDEREÇO"/&gt</code>
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-play-circle-o" style="font-size: 24px;"></span>
                                <h3>Executar</h3>
                                <p>
                                    Basta clicar 2 vezes sobre o ícone do atalho do hereditas que está na área de trabalho. Caso não esteja instalado o .NET Framework 4.6 o Hereditas irá solicitar o download e instalar. Caso não ocorra obter <a target="_blank" href="https://www.microsoft.com/en-us/download/details.aspx?id=48130">aqui</a>.
                                </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-key" style="font-size: 24px;"></span>
                              <h3>Obter a chave de acesso</h3>
                              <p>
                                  Com o sistema executando, clicar no circulo branco e identificar os campos de serial e chave. Clicar sobre o valor da chave para copiar o valor para a área de transferência.
                              </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-4 col -->
                    <div class="col-sm-6 col-md-4 text-center">
                        <div class="col">
                            <span class="fa fa-check-circle-o" style="font-size: 24px;"></span>
                              <h3>Registro da chave</h3>
                              <p>
                                  Enviar a chave e o serial para o email autoriza.chave@hereditas.net.bre aguardar o email de confirmação.
                              </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.col-sm-6 col-md-3 col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.item -->
</div>
<!-- /#page -->
<script>
$("#siteuri").html("https://" +  window.location.host);
</script>
