{% load staticfiles %}
<div id="page" class="page">
    <div class="item content" id="content_section1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <img alt="" src="{% static 'images/image00.png' %}" style="width: 83.50px; height: 161.20px; margin-left: 0.00px; margin-top: 20.00px;" class="margin-bottom-20">
                        <h1>
                            Bem vindo ao Hereditas
                        </h1>
                        <p style="color: rgb(52, 73, 94); font-size: 16px; background-color: rgba(0, 0, 0, 0);">
                            Hereditas é um sistema de controle de patrimônio. Abaixo você vai encontrar as informações, procedimentos e as aplicações que realizam a coleta de dados de inventário e se comunicam com o servidor para as plataformas atendidas. O sistema tem 2 módulos na nuvem e 1 módulo local:
                        </p>
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-pie-chart" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        Portal de dados e relatórios. No portal se encontram relatórios e o aplicativo Android de inventário para download.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-database" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        Módulo de administração de dados. Neste módulo pode ser feita toda administração de dados com inclusões, alterações e exclusões de dados.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-wifi" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        Aplicativo de inventário. Aplicativo que realiza o inventário com tecnologia de rádio frequência ou código de barras.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="row margin-bottom-20">
                                <div class="col-md-2">
                                    <span class="fa fa-users" style="font-size: 24px;"></span>
                                </div>
                                <div class="col-md-10 text-left">
                                    <p>
                                        A lista de usuários com acesso ao sistema foi enviada em documento anexo por email ao cliente com a contratação do serviço. Novas solicitações de acesso podem ser feitas clicando
                                        <a target="_blank" href="http://goo.gl/forms/GKg5fHggZt">aqui</a>.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- ./row -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.item -->
    <div class="item content padding-top-0 padding-bottom-0" id="content_section1">
        <div class="wrapper">
            <div class="container">
                <div class="row margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Instalaçao do aplicativo para Android</h2>
                        <p class="lead">
                            Após o download do arquivo compactado, seguir os passos abaixo.
                        </p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-4 text-center">
                    <div class="col">
                        <span class="fa fa-cloud-download" style="font-size: 24px;"></span>
                        <h3>Instalar o aplicativo no celular</h3>
                        <a target="_blank" href='https://play.google.com/store/apps/details?id=br.com.ur2.hereditas'>
                          <img class="appstorebadge" alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png'/>
                        </a>
                        <p>
                          Clique no botão acima para instalar
                        </p>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.col-sm-6 col-md-4 col -->
                  <div class="col-sm-6 col-md-4 text-center">
                      <div class="col">
                          <span class="fa fa-cogs" style="font-size: 24px;"></span>
                          <h3>Configurar o servidor de acesso</h3>
                          <img class="screenshot" src="{% static 'images/ssAndroid/1.png' %}">
                          <img class="screenshot" src="{% static 'images/ssAndroid/2.png' %}">
                          <p>
                              Acione o aplicativo e a tela de configuração irá aparecer, digite o nome do servidor informado pela equipe de suporte e clique no botão superior direito para validar.
                          </p>
                      </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.col-sm-6 col-md-4 col -->
                  <div class="col-sm-6 col-md-4 text-center">
                    <div class="col">
                        <span class="fa fa-key" style="font-size: 24px;"></span>
                        <h3>Configurar a licença</h3>
                        <img class="screenshot" src="{% static 'images/ssAndroid/3.png' %}">
                        <p>
                            Digite o serial informado pela equipe de suporte. Clique em "SOLICITAR LICENÇA" e siga o procedimento informado.
                        </p>
                    </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.col-sm-6 col-md-4 col -->
                </div>
                <!-- /.row -->
                <div class="row">
                  <div class="col-sm-6 col-md-4 text-center">
                      <div class="col">
                        <span class="fa fa-check-circle-o" style="font-size: 24px;"></span>
                        <h3>Registro da chave</h3>
                        <img class="screenshot" src="{% static 'images/ssAndroid/4.png' %}">
                        <p>
                            Enviar a chave e o serial para o email autoriza.chave@hereditas.net.br e aguardar o email de confirmação.  Ao receber a confirmação clique no botão superior direito para validar.
                        </p>
                      </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.col-sm-6 col-md-4 col -->
                  <div class="col-sm-6 col-md-4 text-center">
                    <div class="col">
                        <span class="fa fa-sign-in" style="font-size: 24px;"></span>
                        <h3>Configurar o usuário</h3>
                        <img class="screenshot" src="{% static 'images/ssAndroid/5.png' %}">
                        <img class="screenshot" src="{% static 'images/ssAndroid/6.png' %}">
                        <p>
                            Digite seu login e senha e clique no botão superior direito para validar.
                        </p>
                    </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.col-sm-6 col-md-4 col -->
                  <div class="col-sm-6 col-md-4 text-center">
                  </div>
                  <!-- /.col-sm-6 col-md-4 col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.item -->
</div>
<!-- /#page -->
<script>
$("#siteuri").html("https://" +  window.location.host);
</script>
