<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSiteList.html" %}
{% load staticfiles %}

{% block listheader %}
                  <th>#</th>
                  <th>Descrição</th>
                  <th>Tombamento</th>
                  <th>Data último inventário</th>
                  <th>Local último inventário</th>
                  <th>Responsável último inventário</th>
                  <th>Data inventário anterior</th>
                  <th>Local inventário anterior</th>
                  <th>Responsável inventário anterior</th>
{% endblock %}
{% block ajaxDatatable %}
    "processing": true,
    "serverSide": true,
    "paging": true,
    "ordering": false,
    "ajax": {
        "url": "{{ apimovimento }}",
        "type": "POST",
        "dataSrc": "results",
        "error": mensagemErro
    },
    "columns": [
        { "data": "idBem" },
        { "data": "descricaoBem" },
        { "data": "nTombamentoBem" },
        { "data": "dataultinv" },
        { "data": "ultlocal" },
        { "data": "ultinventariante" },
        { "data": "datapenultinv", "orderable": false },
        { "data": "penultlocal", "orderable": false },
        { "data": "penultimoinventariante", "orderable": false }
    ]
{% endblock %}
