<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSiteList.html" %}
{% load staticfiles %}
{% block listheader %}
                  <th>#</th>
                  <th>Descrição</th>
                  <th>Tombamento</th>
                  <th>Servível</th>
                  <th>Estado</th>
                  <th>Situação</th>
                  <th>Data Aquisição</th>
                  <th>Data Inicio Uso</th>
                  <th>Data Última Depreciação</th>
                  <th>Valor Aquisição</th>
                  <th>Valor Atual</th>
                  <th>Valor Residual</th>
                  <th>Etiquetado</th>
{% endblock %}
{% block ajaxDatatable %}
    "processing": true,
    "serverSide": true,
    "paging": true,
    "ajax": {
        "url": "{{ apibem }}",
        "type": "POST",
        "dataSrc": "results",
        "error": mensagemErro
    },
    "columnDefs": [ {
      "targets": 3, //index of column starting from 0
      "data": "servivel", //this name should exist in your JSON response
      "render": function ( data, type, full, meta ) {
        if(data == "1")
          return '<i class="fa fa-check fa-2x" aria-hidden="true"></i>';
        else
          return '';
      }
    }, {
      "targets": 12, //index of column starting from 0
      "data": "etiquetado", //this name should exist in your JSON response
      "render": function ( data, type, full, meta ) {
        if(data == "1")
          return '<td><i class="fa fa-tag fa-2x" aria-hidden="true"></i></td>';
        else
          return '';
      }
    } ],
    "columns": [
        { "data": "id" },
        { "data": "descricao" },
        { "data": "numerotombamento" },
        { "data": "servivel" },
        { "data": "estadoDesc" },
        { "data": "situacaoDesc" },
        { "data": "dataaquisicao" },
        { "data": "datainiciouso" },
        { "data": "dataultimadepreciacao" },
        { "data": "valorAquisicaoLocale" },
        { "data": "valorAtualLocale" },
        { "data": "valorResidualLocale" },
        { "data": "etiquetado" }
    ]
{% endblock %}
