<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSiteList.html" %}
{% load staticfiles %}

{% block listheader %}
                  <th>Quantidade</th>
                  <th>Descrição do bem</th>
{% endblock %}
{% block ajaxDatatable %}
    "processing": true,
    "serverSide": true,
    "paging": true,
    "ajax": {
        "url": "{{ apibemagrupado }}",
        "type": "POST",
        "dataSrc": "results",
        "error": mensagemErro
    },
    "columns": [
        { "data": "contagem" },
        { "data": "descricao" }
    ]
{% endblock %}
