<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSiteList.html" %}
{% load staticfiles %}

{% block listheader %}
                  <th>#</th>
                  <th>Data Inventário</th>
                  <th>Descrição do bem</th>
                  <th>Local</th>
                  <th>Inventariante</th>
{% endblock %}
{% block ajaxDatatable %}
    "processing": true,
    "serverSide": true,
    "paging": true,
    "ajax": {
        "url": "{{ apiinventario }}",
        "type": "POST",
        "dataSrc": "results",
        "complete": function(response) {
            console.log(response);
       }
    },
    "columns": [
        { "data": "id" },
        { "data": "data" },
        { "data": "bem" },
        { "data": "local" },
        { "data": "nomeCompleto" }
    ]
{% endblock %}
