<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSiteList.html" %}
{% load staticfiles %}

{% block listheader %}
                  <th>#</th>
                  <th>Data Depreciação</th>
                  <th>Descrição do bem</th>
                  <th>Padrao</th>
                  <th>Valor Anterior</th>
                  <th>Valor Depreciado</th>
{% endblock %}
{% block ajaxDatatable %}
    "processing": true,
    "serverSide": true,
    "paging": true,
    "ajax": {
        "url": "{{ apidepreciacao }}",
        "type": "POST",
        "dataSrc": "results",
        "error": mensagemErro
    },
    "columns": [
        { "data": "id" },
        { "data": "data" },
        { "data": "bem.descricao" },
        { "data": "bem.padraodepreciacao" },
        { "data": "valorAnteriorLocalizado" },
        { "data": "valorDepreciadoLocalizado" }
    ]
{% endblock %}
