 <!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% load staticfiles %}
          <div class="row">
            <div class="col-xs-12 col-md-12 col-xl-12 vcenter"><h2 class="sub-header">Indicadores</h1></div>
          </div>
          <div class="row placeholders">
              <div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 placeholder">
                <div class="panel panel-marinho">
                    <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-6 text-left">
                              <i class="fa fa-cubes fa-4x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                              <div>total bens cadastrados</div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 text-right">
                            <div id="contagemBens" class="huge-xg">0</div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 placeholder">
                <div class="panel panel-verde">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <i class="fa fa-dollar fa-4x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div>valor total do patrimônio</div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-right">
                              <div id="valorBensLocale" class="huge-xg">0</div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 placeholder">
                <div id="InvRealizados" class="panel panel-azul" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Mapa de bens" data-content="Clique aqui para mostrar o mapa de bens conforme o último inventário.">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <i class="fa fa-cube fa-4x"></i><i class="fa fa-feed fa-4x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div>inventarios realizados</div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-right">
                              <div id="contagemInventarios" class="huge-xg">0</div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row placeholders">
                <div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 placeholder">
                  <div class="panel panel-marinho">
                      <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <i class="fa fa-cubes fa-tag fa-4x"></i><i class="fa fa-tag fa-4x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <div>bens etiquetados</div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-right">
                              <div id="contagemBensEtiquetados" class="huge-xg">0</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 placeholder">
                  <div class="panel panel-verde">
                      <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <i class="fa fa-dollar fa-tag fa-4x"></i><i class="fa fa-tag fa-4x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <div>valor patrimônio etiquetado</div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-right">
                              <div id="valorBensEtiquetadosLocale" class="huge-xg">0</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 placeholder">
                  <div class="panel panel-azul">
                      <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <i class="fa fa-dollar fa-4x"></i><i class="fa fa-sort-amount-desc fa-4x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                              <div>depreciações realizadas</div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-right">
                              <div id="contagemDepreciacoes" class="huge-xg">0</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
          </div>
