<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% load staticfiles %}
          <div class="row placeholders">
            <div class="col-xs-12 placeholder">
              <!-- Modal -->
              <div class="modal fade" id="posicaoBens" tabindex="-1" role="dialog" aria-labelledby="posicaoBensLabel">
                <div id="mapa" class="modal-dialog modal-slg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="posicaoBensLabel">Mapa de Bens</h4>
                    </div>
                    <div class="modal-body">
                      <div id="mpbMensagem" class="alert alert-info alert-dismissible" role="alert">Carregando dados...</div>
                      <div id="mpbLegenda"></div>
                      <div id="mpbResultado"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
