<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% extends "baseSite.html" %}
{% load staticfiles %}

{% if request.user.is_authenticated %}

{% block headJS %}
    <!-- Google Chart -->
    <script type="text/javascript" src="{% static 'js/google/chartsloader.js' %}"></script>
    <!-- D3 core JavaScript
    ================================================== -->
    <script src="{% static 'js/D3/d3.js' %}"></script>
    <!-- Mapa de bens -->
    <script type="text/javascript" src="{% static 'js/mapaBens.js' %}"></script>
    <!-- graficos -->
    <script type="text/javascript" src="{% static 'js/graficos.js' %}"></script>
    <script src="{% static 'js/metricas.js' %}"></script>
{% endblock %}

{% block page %}

          {% include 'metricasContagens.html' %}
          {% include 'metricasGraficos.html' %}
          {% include 'metricasMapaBens.html' %}

{% endblock %}

{% block endJS %}
<!-- metricas -->
<script type="text/javascript">

getMapa('{{ apimapa }}');

var drawChatsCallBack = function () {
  metricasContagem("{{apimetricascontagem}}");
  metricasEstadoBem("{{apimetricasEstadoBem}}");
  metricasSituacaoBem("{{apimetricasSituacaoBem}}");
}
google.charts.load('current', { packages: [ 'corechart'], callback: drawChatsCallBack });

$(function () {
  $('[data-toggle="popover"]').popover()
})

$('#InvRealizados').popover({ trigger: "hover focus" });
$("#InvRealizados").on("click", function() { $('#posicaoBens').modal('toggle'); });
</script>

{% endblock %}

{% endif %}
