<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% load staticfiles %}

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 placeholder">
              <div id="bensPorEstado"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 placeholder">
              <div id="bensPorSituacao"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 placeholder">
              <div id="bensPorEtiquetagem"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 placeholder">
              <div id="valorPorEtiquetagem"></div>
            </div>
          </div>
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 placeholder">
              <div id="bensPorQuantidades"></div>
            </div>
            <!--
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            -->
          </div>
