<!--
# Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
# Ver arquivo LICENSE para os detalhes.
-->

{% load staticfiles %}
{% block signin %}
    <div class="container">
      <form class="form-signin" action="login" method="post" id="login-form">
        {% csrf_token %}
        <h2 class="form-signin-heading">Acesso</h2>
        <label for="inputUsernameEmail" class="sr-only">Nome usuário ou endereço de e-Mail</label>
        <input type="text" id="inputUsernameEmail" name="inputUsernameEmail" class="form-control" placeholder="Nome usuário ou endereço de e-Mail" required autofocus />
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required />
        {% if msgerro %}
        <div class="alert alert-danger alert-dismissible fade in" id="loginFail">
            <strong>Atenção!</strong> {{ msgerro }}
        </div>
        {% endif %}
        {% if msgsucesso %}
        <div class="alert alert-success alert-dismissible fade in" id="logoutOK">
            <strong>Sucesso!</strong> {{ msgsucesso }}
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" id="subm" type="submit">Entrar</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
